@import './hero';
@import './best';
@import './explore';
@import './music';
@import './practice';
@import './transformation';

section {
  header {
    margin: 0 auto;
    max-width: 1110px;
    text-align: center;

    h2 {
      font-family: var(--title-font);
      font-size: 5.4rem;
      line-height: 7rem;

      color: var(--color-black);

      @include breakpoint-down('lg') {
        font-size: 2.5rem;
        line-height: 2.7rem;
      }
    }

    p {
      margin-top: 22px;
      font-size: 2.4rem;
      line-height: 3.1rem;

      background: -webkit-linear-gradient(#259385, #159685);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include breakpoint-down('lg') {
        font-size: 1.8rem;
        line-height: 2.1rem;
      }
    }
  }
}
