.explore {
  padding: 120px 0;
  &__container {
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    padding: 0 48px;
    padding-top: 50px;
    padding-bottom: 40px;
    max-width: 420px;
    border-radius: var(--border-radius-sm);

    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--color-white);
    box-shadow: 0px 19px 50px rgba(26, 127, 114, 0.15);
  }

  &__title {
    margin-top: 20px;

    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.7rem;
    text-align: center;

    color: var(--color-black);
  }

  &__img {
    order: -1;
  }

  &__text {
    margin-top: 20px;

    font-size: 1.8rem;
    line-height: 2.3rem;

    text-align: center;
  }

  &__button {
    margin-top: 60px;
  }
}
