.music {
  padding-top: 60px;
  padding-bottom: 200px;

  background-image: var(--music-bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include breakpoint-down('lg') {
    padding-bottom: 0;
  }
  &__container {
  }

  &__header {
  }

  &__title {
  }

  &__subtitle {
  }

  &__wrapper {
    margin-top: 70px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include breakpoint-down('lg') {
      margin-top: 25px;
      flex-direction: column-reverse;
    }
  }

  &__list {
    max-width: 650px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 50px;

    @include breakpoint-down('xxl') {
      max-width: 375px;
    }
    @include breakpoint-down('lg') {
      max-width: 500px;
    }
  }

  &__item {
    padding: 30px 40px;
    background-image: var(--item-bg),
      linear-gradient(90deg, #c3e2de 27.22%, #cff1ed 48.89%, #edfbf9 100%);
    background-repeat: no-repeat;
    background-position: center;

    border-radius: var(--border-radius-xs);

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    &:before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      border-radius: var(--border-radius-xs);
      margin: -2px;

      z-index: -1;
      background-image: var(--background-gradient);
      box-shadow: -26px 4px 79px rgba(168, 207, 202, 0.39);
    }

    @include breakpoint-down('xxl') {
      padding: 10px;
    }
  }

  &__item-wrapper {
  }

  &__heading {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.7rem;

    color: rgba(var(--color-black), 0.8);

    @include breakpoint-down('xxl') {
      font-size: 2.6rem;
    }
  }

  &__text {
    margin-top: 10px;
    font-size: 2.4rem;
    line-height: 3.1rem;

    color: rgba(0, 0, 0, 0.5);
  }

  &__button {
  }

  &__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 100%;
    height: auto;
  }
}
