// for example
@font-face {
  font-family: 'Merienda One';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('@/assets/fonts/MeriendaOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('@/assets/fonts/Heebo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('@/assets/fonts/Heebo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('@/assets/fonts/Heebo-SemiBold.ttf') format('truetype');
}
