:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-main: #1a7f72;
  --shadow-color: rgba(26, 127, 114, 0.2);
  --subtitle-color: rgba(var(--color-black), 0.8);
  --gradient: linear-gradient(90deg, #259385 0, #159685 100%);
  --bg-color: #edfbf9;
  --hero-bg: url('../assets/images/bgs/hero-bg.png');
  --best-bg: url('../assets/images/bgs/best-bg.png');
  --footer-bg: url('../assets/images/bgs/footer-bg.png');
  --item-bg: url('../assets/images/bgs/item-bg.svg');
  --music-bg: url('../assets/images/bgs/music-bg.png');
  --transformation-bg: url('../assets/images/bgs/transformation-bg.png');

  --title-font: 'Merienda One';
  --body-font: 'Heebo';

  --border-radius-xs: 10px;
  --border-radius-sm: 30px;
  --border-radius-lg: 50px;
}
